n8n-workflows/8. Add Comment to Issue.json
{
  "name": "8. Add Comment to Issue",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "issue_key"
            },
            {
              "name": "comment"
            },
            {
              "name": "mention_id"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -80,
        0
      ],
      "id": "dbfba579-3ee3-4d30-a21e-22eeb3dc43b9",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        336,
        0
      ],
      "id": "918eabb6-f8a0-4166-add9-b62349f2d317",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://moneysmart.atlassian.net/rest/api/3/issue/{{ $json.issue_key }}/comment",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "jiraSoftwareCloudApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "= {{ (function() {\n    const content = [];\n    if ($json.mention_id) {\n      content.push({\n        type: \"mention\",\n        attrs: { id: $json.mention_id, text: \"@user\", accessLevel: \"\" }\n      });\n      content.push({ type: \"text\", text: \" \" });\n    }\n    content.push({ type: \"text\", text: $json.comment });\n    return JSON.stringify({\n      body: {\n        type: \"doc\",\n        version: 1,\n        content: [{ type: \"paragraph\", content: content }]\n      }\n    });\n  })() }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        608,
        16
      ],
      "id": "e64227c8-4154-42b7-accb-9066bcfe23f1",
      "name": "Add comment to issue",
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "E5oT7SmDiMCaK5ly",
          "name": "Jian An JIRA"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Add comment to issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add comment to issue": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "21d7c5d5-6cef-497c-b723-9512c3d72e6c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "14df616ca124cf32c43693e6b4cc27d6dbf6b0baaa25603423e96330dcf747f5"
  },
  "id": "E6LRTwuZ8tNjKzEn",
  "tags": []
}